extends layout

html 
  head 
    title #{title}
  body 
    block content
      h1 Welcome to #{title}
      a(href='http://localhost:3000/new') Add Message 
      for message in messages 
        div
          p Text: #{message.text}
          p User: #{message.user}
          p Date: #{message.added}
